/* -- Custom Properties -- */
:root {
    --clr-primary-cyan:hsl(158, 36%, 37%);
    --clr-primary-cream:hsl(30, 38%, 92%);

    --clr-neutral-darkblue:hsl(212, 21%, 14%);
    --clr-neutral-grayishblue:hsl(228, 12%, 48%, 0.8);
    --clr-neutral-white:hsl(0, 0%, 100%);
    --clr-neutral-activate:#1A4031;

    --fw-500:500;
    --fw-700:700;

    --ff-Frau:'Fraunces',serif;
    --ff-Mont:'Montserrat', sans-serif;

}
body {
    display: grid;
    place-content: center;
    background-color: var(--clr-primary-cream);
    font-size: 0.875rem;
    margin: 0 0.938rem;
}
.container {
    background-color: var(--clr-neutral-white);
    border-radius: 10px;
    overflow: hidden;
    height: 615px;
    max-width: 600px;
} 
.product__content {
    display: grid;
    padding: 1.438rem;
}
.product__category {
    font-family: var(--ff-Mont);
    font-weight: var(--fw-500);
    letter-spacing: 5px;
    font-size: .75rem;
    text-transform: uppercase;
    color: var(--clr-neutral-grayishblue);
    margin-bottom: .625rem;
}
.product__title {
    font-family: var(--ff-Frau);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-darkblue);
    line-height: 1.1;
    font-size: 2rem;
    margin-bottom: 1.063rem;
}
.product__description {
    color: var(--clr-neutral-grayishblue);
    font-weight: var(--fw-500);
    font-family: var(--ff-Mont);
    margin-bottom: .938rem;
}
.product__prices {
    display: inline-flex;
    gap: 20px;
    margin-bottom: .938rem;
}
.current__price {
    color: var(--clr-primary-cyan);
    font-weight: var(--fw-700);
    font-family: var(--ff-Frau);
    font-size: 1.875rem;
}
.old__price {
    text-decoration: line-through;
    color: var(--clr-neutral-grayishblue);
    font-family: var(--ff-Mont);
    font-size: 0.813rem;
    align-self: center;
}
button {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    padding: .75rem .625rem;
    background-color: var(--clr-primary-cyan);
    border: none;
    border-radius: 8px;
    color: var(--clr-neutral-white);
    font-weight: var(--fw-700);
    font-family: var(--ff-Mont);
}
button[data-icon="shopping-cart"]::before {
    content: "";
    width: .938rem;
    height: 16px;
    background-image: url(images/icon-cart.svg);
    align-self: center;
}
button:is(:hover, :focus) {
    background-color: var(--clr-neutral-activate);
}

@media (min-width: 380px) {
    .container {
        display: flex;
        height: auto;
    }
    .product__content {
        width: 50%;
        padding: 1.875rem;
    }
    .product__imgage {
        width: 50%;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .product__category {
        margin-bottom: none;
    }
    .product__prices {
        align-items: center;
    }

    button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: .313rem .625rem;
    }
}